<!DOCTYPE html>
<html ng-app>
<head>
	<script src="/libs/angular/angular.js"></script>
	<script src="/controllers/meetups-controller.js"></script>
	<title></title>


</head>
<body>
	<h1>Hello World</h1>
	<input type="text" ng-model="yourName" placeholder="Enter a name here">
    <hr>
    <h1>Hello {{yourName}}!</h1>

    <!-- Meetup views -->
    <div ng-controller="meetupsController">
    	<h2>There are {{meetupsCount}} meetups </h2>
    </div>

</body>
</html> 