<!-- public/views/home.html -->

<div class="jumbotron text-center">
    <h1>Gridster widgets</h1>

    <p>{{ tagline }}</p>
</div>

<div gridster>
    <ul>
        <li gridster-item="item" ng-repeat="item in standardItems">
        	{{tagline}}
        </li>
    </ul>
</div>