<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
    <p>Hello World! Welcome to aaaa </p>
    <h1>User List</h1>
    <ul>
    	<% userlist.forEach(function(user){ %>
    		<li> <%= user.username %> - <a href="mailto:<%= user.email %>"> <%= user.email %> </a> </li>
    	<% }); %>
    	

   	</ul>
  </body>
</html>
